<p>mobile-nav works!</p>
<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a routerLink="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo" /></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-search search-style-3 mobile-header-border">
                <form action="#">
                    <input type="text" placeholder="Search for items…" />
                    <button type="submit"><i class="fi-rs-search"></i></button>
                </form>
            </div>
            <div class="mobile-menu-wrap mobile-header-border">
                <nav>
                    <ul class="mobile-menu font-heading">
                        <li class="menu-item-has-children">
                            <a routerLink="index.html">Home</a>
                            <ul class="dropdown">
                                <li><a routerLink="index.html">Home 1</a></li>
                                <li><a routerLink="index-2.html">Home 2</a></li>
                                <li><a routerLink="index-3.html">Home 3</a></li>
                                <li><a routerLink="index-4.html">Home 4</a></li>
                                <li><a routerLink="index-5.html">Home 5</a></li>
                                <li><a routerLink="index-6.html">Home 6</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a routerLink="shop-grid-right.html">shop</a>
                            <ul class="dropdown">
                                <li><a routerLink="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                <li><a routerLink="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                <li><a routerLink="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                <li><a routerLink="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                <li><a routerLink="shop-fullwidth.html">Shop - Wide</a></li>
                                <li class="menu-item-has-children">
                                    <a routerLink="#">Single Product</a>
                                    <ul class="dropdown">
                                        <li><a routerLink="shop-product-right.html">Product – Right Sidebar</a></li>
                                        <li><a routerLink="shop-product-left.html">Product – Left Sidebar</a></li>
                                        <li><a routerLink="shop-product-full.html">Product – No sidebar</a></li>
                                        <li><a routerLink="shop-product-vendor.html">Product – Vendor Infor</a></li>
                                    </ul>
                                </li>
                                <li><a routerLink="shop-filter.html">Shop – Filter</a></li>
                                <li><a routerLink="shop-wishlist.html">Shop – Wishlist</a></li>
                                <li><a routerLink="shop-cart.html">Shop – Cart</a></li>
                                <li><a routerLink="shop-checkout.html">Shop – Checkout</a></li>
                                <li><a routerLink="shop-compare.html">Shop – Compare</a></li>
                                <li class="menu-item-has-children">
                                    <a routerLink="#">Shop Invoice</a>
                                    <ul class="dropdown">
                                        <li><a routerLink="shop-invoice-1.html">Shop Invoice 1</a></li>
                                        <li><a routerLink="shop-invoice-2.html">Shop Invoice 2</a></li>
                                        <li><a routerLink="shop-invoice-3.html">Shop Invoice 3</a></li>
                                        <li><a routerLink="shop-invoice-4.html">Shop Invoice 4</a></li>
                                        <li><a routerLink="shop-invoice-5.html">Shop Invoice 5</a></li>
                                        <li><a routerLink="shop-invoice-6.html">Shop Invoice 6</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a routerLink="#">Vendors</a>
                            <ul class="dropdown">
                                <li><a routerLink="vendors-grid.html">Market Place</a></li>
                                <li><a routerLink="vendor-details-1.html">Vendor Details 01</a></li>
                                <li><a routerLink="vendor-details-2.html">Vendor Details 02</a></li>
                                <li><a routerLink="vendor-dashboard.html">Vendor Dashboard</a></li>
                                <li><a routerLink="vendor-guide.html">Vendor Guide</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a routerLink="#">Mega menu</a>
                            <ul class="dropdown">
                                <li class="menu-item-has-children">
                                    <a routerLink="#">Women's Fashion</a>
                                    <ul class="dropdown">
                                        <li><a routerLink="shop-product-right.html">Dresses</a></li>
                                        <li><a routerLink="shop-product-right.html">Blouses & Shirts</a></li>
                                        <li><a routerLink="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                        <li><a routerLink="shop-product-right.html">Women's Sets</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a routerLink="#">Men's Fashion</a>
                                    <ul class="dropdown">
                                        <li><a routerLink="shop-product-right.html">Jackets</a></li>
                                        <li><a routerLink="shop-product-right.html">Casual Faux Leather</a></li>
                                        <li><a routerLink="shop-product-right.html">Genuine Leather</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a routerLink="#">Technology</a>
                                    <ul class="dropdown">
                                        <li><a routerLink="shop-product-right.html">Gaming Laptops</a></li>
                                        <li><a routerLink="shop-product-right.html">Ultraslim Laptops</a></li>
                                        <li><a routerLink="shop-product-right.html">Tablets</a></li>
                                        <li><a routerLink="shop-product-right.html">Laptop Accessories</a></li>
                                        <li><a routerLink="shop-product-right.html">Tablet Accessories</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a routerLink="blog-category-fullwidth.html">Blog</a>
                            <ul class="dropdown">
                                <li><a routerLink="blog-category-grid.html">Blog Category Grid</a></li>
                                <li><a routerLink="blog-category-list.html">Blog Category List</a></li>
                                <li><a routerLink="blog-category-big.html">Blog Category Big</a></li>
                                <li><a routerLink="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                <li class="menu-item-has-children">
                                    <a routerLink="#">Single Product Layout</a>
                                    <ul class="dropdown">
                                        <li><a routerLink="blog-post-left.html">Left Sidebar</a></li>
                                        <li><a routerLink="blog-post-right.html">Right Sidebar</a></li>
                                        <li><a routerLink="blog-post-fullwidth.html">No Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a routerLink="#">Pages</a>
                            <ul class="dropdown">
                                <li><a routerLink="page-about.html">About Us</a></li>
                                <li><a routerLink="page-contact.html">Contact</a></li>
                                <li><a routerLink="page-account.html">My Account</a></li>
                                <li><a routerLink="page-login.html">Login</a></li>
                                <li><a routerLink="page-register.html">Register</a></li>
                                <li><a routerLink="page-forgot-password.html">Forgot password</a></li>
                                <li><a routerLink="page-reset-password.html">Reset password</a></li>
                                <li><a routerLink="page-purchase-guide.html">Purchase Guide</a></li>
                                <li><a routerLink="page-privacy-policy.html">Privacy Policy</a></li>
                                <li><a routerLink="page-terms.html">Terms of Service</a></li>
                                <li><a routerLink="page-404.html">404 Page</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a routerLink="#">Language</a>
                            <ul class="dropdown">
                                <li><a routerLink="#">English</a></li>
                                <li><a routerLink="#">French</a></li>
                                <li><a routerLink="#">German</a></li>
                                <li><a routerLink="#">Spanish</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="mobile-header-info-wrap">
                <div class="single-mobile-header-info">
                    <a routerLink="page-contact.html"><i class="fi-rs-marker"></i> Our location </a>
                </div>
                <div class="single-mobile-header-info">
                    <a routerLink="page-login.html"><i class="fi-rs-user"></i>Log In / Sign Up </a>
                </div>
                <div class="single-mobile-header-info">
                    <a routerLink="#"><i class="fi-rs-headphones"></i>(+01) - 2345 - 6789 </a>
                </div>
            </div>
            <div class="mobile-social-icon mb-50">
                <h6 class="mb-15">Follow Us</h6>
                <a routerLink="#"><img src="../../../assets/imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
                <a routerLink="#"><img src="../../../assets/imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
                <a routerLink="#"><img src="../../../assets/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
                <a routerLink="#"><img src="../../../assets/imgs/theme/icons/icon-pinterest-white.svg" alt="" /></a>
                <a routerLink="#"><img src="../../../assets/imgs/theme/icons/icon-youtube-white.svg" alt="" /></a>
            </div>
            <div class="site-copyright">Copyright 2022 © Nest. All rights reserved. Powered by AliThemes.</div>
        </div>
    </div>
</div>